body {
  font-family: 'Gloria Hallelujah', cursive;
  padding-bottom: 40px;
}

h3 {
  padding-top: 50px;
}

h4 {
  padding: 10px 0;
}

img {
  margin: 30px;
  border: 2px solid #666666;
}

.border {
  border: 1px solid #666666;
}

.text-decor {
  color: blue;
}
