body {
  font-family: 'Gloria Hallelujah', cursive;
  padding-bottom: 40px;
  width: 100%;
  margin: 0 auto;
}

h3 {
  padding-top: 50px;
}

h4 {
  padding: 10px 0;
}

img {
  margin: 30px;
  border: 2px solid #666666;
}

.banner {
  border: none;
  width: 80%;
  height: 50%;
  margin: 0 auto;
}

.border {
  border: 1px solid #666666;
}

.text-decor {
  color: blue;
}

.text-nondecor {
  color: black;
}

.letter-decor {
  width: 30px;
  height: 30px;
  border-style: solid;
  padding: 2px;
  margin: 2px;
}

.button-text-decor {
  color: blue;
  text-shadow: 5px 2px yellow;
  background: #eee;
  display: inline-block;
}

.bg-whitesmoke {
  background: #eee;
}

.img-arrow {
  border: none;
  margin: 0;
  width: 20%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  line-height: 3;
  display: inline-block;
  vertical-align: middle;
}

.footer {
  position: fixed;
  background: #888;
  color: #fff;
  margin-top: 100px;
  font-size: 12px;
  text-align: center;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
}
